<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-ca34addf-db2b-447d-92c5-1c9d22ce283e;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-ca34addf-db2b-447d-92c5-1c9d22ce283e.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name ="ChinookDB"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
